<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for with v-if</title>
</head>

<body>
    <li v-for="todo in todos" v-if="!todo.isComplete">
        {{todo}}
    </li>

    <!-- 上面的代码只传递了未完成的todos -->
    <!-- 而如果你的目的是有条件到跳过循环，那么可以将v-if置于外层元素(或<template>)上。 -->

    <ul v-if="todos.length">
        <li v-for="todo in todos">
            {{todo}}
        </li>
    </ul>
    <p v-else>No todos left!</p>
</body>

</html>