<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>复选框的选择联动</title>
</head>
<body>
    <div id="app">
        全选:<input type="checkbox" v-model="checkAll"><br>
        <input type="checkbox" v-for="(item, index) in products" :key="item.id" v-model="item.isSelected">
    </div>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script>
        let vm=new Vue({
            el:'#app',
            data:{
                products:[
                    {
                        id:1,
                        isSelected:true
                    },
                    {
                        id:2,
                        isSelected:true
                    }
                ]
            },
            computed: {
                checkAll:{
                    get(){
                        return this.products.every(item=>item.isSelected);
                    },
                    set(val){
                        this.products.forEach(item => {
                            item.isSelected=val;
                        });
                    }
                }
            }
        })
    </script>
</body>
</html>