<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>select下拉控件</title>
    <style>
    [v-cloak]{
        display: none;
    }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <select v-model="a" @click="selectOption($event)">
            <!-- <option value="" disabled>请选择</option>
            <option value="1">你好</option>
            <option value="2">不好</option>
            <option value="3">我好</option>  -->
          <option v-for="(item, index) in arr" :key="index" :value="item" >{{item}}</option>
        </select>
        {{a}}
        <!-- 如果value属性不写默认取的是option中的值，请选择这一项要加disabled -->
        <!-- 如果select是多选框 则数据类型要是数组类型 -->
        <input type="radio" v-model="gender" value="男">男 
        <input type="radio" v-model="gender" value="女">女
        {{gender}}
    </div>

    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script>
        let vm=new Vue({
            el:'#app',
            data:{
                a:'',
                gender:'',
                arr:[1,2,3]
            },
            methods:{
              selectOption(e,index){
                debugger;
              }
            }
        })
    </script>
</body>
</html>