<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>组件基础</title>
</head>

<body>
  <!--因为组件是可复用的vue实例，所以它们与new Vue接受the same option,
    for example:data、computed、watch、methods also the life-cycle（钩子函数）
except but like el- the special root vue application -->
  <div id="components-demo">
    <!-- we can use components many times -->
    <!-- the component have itsself count,because you use it,but a new vue application created. -->
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
  </div>

  <script src="https://unpkg.com/vue@2.2.6/dist/vue.js"></script>
  <script>
    //Extend vue to get a reusable constructor
    let ButtonCounter = Vue.extend({
      // the data of component must be a function
      data: function () {
        return {
          count: 0
        }
      },
      template: '<button v-on:click="count++">You clicked me {{count}} times.</button>'
    })
    //Register the constructor with id: button-counter
    Vue.component('button-counter', ButtonCounter)

    let vm = new Vue({
      el: '#components-demo'
    })
  </script>
</body>

</html>