<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>父子组件同事拥有mounted，谁先触发</title>
</head>
<body>
    <div id="app">
        <child ref="child"></child>
    </div>
    <template id="child">
        <div>
            <li v-for="(item,index) in arr">{{item}}</li>
        </div>
    </template>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script>
        // 子组件和父组件同时拥有mounted方法 会先走谁？
        // 需要等待子组件挂载完成后在触发父组件的挂载
        let vm=new Vue({
            el:'#app',
            mounted() {
                // alert('parent');
                this.$nextTick(()=>{//想 操作dom 就加一个  nextTick
                    console.log(this.$refs.child.$el.innerHTML);
                })
            },
            components:{
                 child:{
                     data(){
                         return {
                             arr:[1,2,3]
                         }
                     },
                     template:'#child',
                     mounted(){
                         this.arr=[4,5,6];
                     }
                 }
            }
        })
    </script>
</body>
</html>